#snakeGameContainer{
    text-align: center;
}
#snakeGameBoard{
    border: 3px solid;
}
#snakeScoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#snakeResetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}